@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  height: 100vh;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  
  .wave svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 225px;
  }

  .wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 123px;
}